@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.help {
  width: 300px;
  position: sticky;
  background-color: red;
  /* clip-path: ellipse(79% 80%); */
  right: 20px;
  bottom: 40px;

  font-weight: 900;
  font-size: 1.3rem;
  color: white;
  border-radius: 2.2rem;
}
